.rte {
    margin-bottom: 15px;
    line-height: 1.7;
    color: #777;
}

 .card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
}

.card-block {
    text-align: center;
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-img-top {
    display: block;
    width:100%;
    height: 530px;
    position: center;
}

.img{
    max-width:100%;
    max-height:730px;
}


.card1 {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
}

.card1-block {
    text-align: center;
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    box-shadow: none;
}

.card1-img-top {
    display: block;
    width:100%;
    height: 220px;
}

.img1{
    max-width:100%;
    max-height:580px;
}

.card2 {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
}

.card2-block {
    text-align: center;
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    box-shadow: none;
}

.card2-img-top {
    display: block;
    width:100%;
    height: 220px;
}

.img2{
    max-width:100%;
    max-height:590px;
}


.card3 {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.card3-block {
    text-align: center;
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card3-img-top {
    display: block;
    width: 750px;
    height: 160px;
}

.img3{
    max-width:100%;
    max-height:430px;
}


.slider {
    width:90%;
    height: 70%;
    margin:auto;
    overflow:hidden;
}


.slider img {
    width: 90%;
    height:80%;
}

.cardxv 
    {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}


.cardxv-block {
    text-align: center;
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.cardxv-img-top {
   display: block;
    width: 750px;
    height: 160px;
}

.imgxv{
    max-width:100%;
    max-height:430px;
}

.section-header_title1 {
    font-family:playfair_displayblack;
}
.summary-text {
    font-family: Lato, sans-serif;
    font-weight: 300;
}

.social {
  position: fixed;
  left:-40px;
  top: 250px;
  z-index: 2000;
}

.social ul {
  list-style: none;
}

.social ul li a {
  width: 50px;
  height: 50px; 
  display: inline-block;
  color: white;
  background: #000;
  padding: 10px 15px;
  text-decoration: none;
  -webkit-transition:all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease
}

.social ul li #icono_1{background:#3b5998;}
.social ul li #icono_2{background:#00abf0;}
.social ul li #icono_3{background:#d95232;}
.social ul li #icono_4{background:#666666;}

.social ul li a:hover{
  background: #000;
  padding: 10px 30px;
}
